@use './../abstract/variables' as *;
@use './../abstract/mixins' as *;

.credits {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-background-block;
  border-radius: $border-radius-block;

  &__credit {
    &-title {
      font-weight: 500;

      @include max-768 {
        padding: 6px 0;
        font-size: 1.1rem;
      }
    }

    &-cell {
      @include max-768 {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }

    &-caption {
      display: none;

      @include max-768 {
        display: block;
        color: $pale-font-color;
      }
    }
  }

  &__row {
    padding: 14px 20px;
    display: grid;
    align-items: center;
    column-gap: 20px;
    grid-template-columns: 35% 15% 15% 35%;
    border-bottom: 2px solid $color-background-main;

    @include max-768 {
      grid-template-columns: 1fr;
      row-gap: 14px;
    }
  }

  &__headings {
    font-weight: 500;
    font-size: 1.1rem;
    background-color: $color-accent-pale;
    border-top-left-radius: $border-radius-block;
    border-top-right-radius: $border-radius-block;

    @include max-768 {
      display: none;
    }
  }
}
