$main-font-color: #3b3b3b;
$pale-font-color: #979797;
$font-accent-color: #ffffff;

$color-accent: #209cee;
$color-accent-pale: #b7daf1;
$color-background-main: #f3f3f3;
$color-background-block: #ffffff;

$border-radius-block: 12px;
$border-radius-component: 6px;
