@use './../abstract/variables' as *;

.button {
  padding: 14px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  font-size: 1rem;
  color: $font-accent-color;
  font-weight: 500;
  border-radius: $border-radius-block;
  background-color: $color-accent;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    display: flex;
    filter: brightness(1.15);
  }
}
